.information {
    padding-top: 30px;
    background-color:rgba(0,0,0,0.8);
    color: #ffff;
    border-radius: 0 0 20px 20px;
}

.ms-4 img {
    max-width: 150px;
    max-height: 150px;
}

.product-head {
    padding-bottom: 50px;
}

.product-head h1 {
    font-weight:500;
    font-size: 25px;
    text-align: left;
}

.product-head .btn {
    background-color: black;
    border: none;
    float: right;
}

.name {
   margin-top: 130px;
   padding-left: 20px;
}

.e3 {
    padding-right: 30px;
}

.h5 {
    color: #ffffff;
}

