body {
    display: flex;
    align-items: center;
}

.cascading-right {
    margin-right: -50px;
  }

.menu {
    padding-top: 10px;
}
/*content*/
.container {
    padding: 100px;
}
.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(autofill, minmax(350px, 1fr)); 
}

.content-item > img{
    width: 100%;
}

.content .content-item {
    padding: 30px;
    margin: 20px;
}
