<link rel="stylesheet" href="/scr/css/style.css">
<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="/scr/css/productpage.css">
<link rel="stylesheet" href="/scr/css/book.css">		

<div class="container">
    <div class="product-container">
    <img src="/scr/img/explore/e3.jpg" alt="Product Image" class="product-image">
        <div class="product-details">
            <div class="product-head">
            <h1>And then there were none<button type="button" class="btn"><i class="fa fa-heart"></i></button><button type="button" class="btn"><i class="fa-solid fa-ban"></i></button></h1>
            </div>
            <p>The story about a group 10 peoples in an island with a murder, one by one is die because of a reason like in the poem.</p>
            <p>Price: $19.99</p>
            <button class="buy-button">Buy Now</button>
            <button class="add-to-cart-button">Add to Cart</button>
            <button class="add-to-cart-button">Download</button>
            <button class="add-to-cart-button">Read Online </button>
        </div>
        <div class="user-feedback">
            <h3>User Feedback</h3>
            <!-- New feedback input field -->
            <label for="feedback">Leave a Comment:</label>
            <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea>
            <button class="submit-feedback-button">Submit Feedback</button>
        </div>
        <div class="comments-list">
            <!-- Comment entries will go here -->
        </div>
    </div>
</div>
<div class="container">
    <section class="explore">
        <div class="container">
            <div class="explore-content">
            <div class="product-head">
                <h1>Reccomend books</h1>
                <div class="row">
                <div class=" col">
                    <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="/scr/img/explore/e1.jpg" alt="explore image">
                    </div>
                    <div class="single-explore-txt bg-theme-5">
                        <h2><a href="#!">you want it darker</a></h2>
                        <p class="explore-rating-price">
                        <span class="explore-rating">5.0</span>
                        <a href="#!"> 10 ratings</a> 
                        <span class="explore-price-box">
                            price:
                            <span class="explore-price">10$</span>
                        </span>
                        <span class="explore-price-genne">
                            novel
                        </span>
                        <a  href="#!">leonard cohen</a>
                        </span>
                        </p>
                    </div>
                    </div>
                </div>
                <div class=" col">
                    <div class="single-explore-item">
                        <div class="single-explore-img">
                        <img src="/scr/img/explore/e1.jpg" alt="explore image">
                        </div>
                        <div class="single-explore-txt bg-theme-5">
                        <h2><a href="#!">you want it darker</a></h2>
                        <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#!"> 10 ratings</a> 
                            <span class="explore-price-box">
                            price:
                            <span class="explore-price">10$</span>
                            </span>
                            <span class="explore-price-genne">
                            novel
                            </span>
                            <a  href="#!">leonard cohen</a>
                            </span>
                        </p>
                        </div>
                    </div>
                    </div>
                    <div class=" col">
                    <div class="single-explore-item">
                        <div class="single-explore-img">
                        <img src="/scr/img/explore/e1.jpg" alt="explore image">
                        </div>
                        <div class="single-explore-txt bg-theme-5">
                        <h2><a href="#!">you want it darker</a></h2>
                        <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#!"> 10 ratings</a> 
                            <span class="explore-price-box">
                            price:
                            <span class="explore-price">10$</span>
                            </span>
                            <span class="explore-price-genne">
                            novel
                            </span>
                            <a  href="#!">leonard cohen</a>
                            </span>
                        </p>
                        </div>
                    </div>
                    </div>
    
                <div class=" col">
                    <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="/scr/img/explore/e2.jpg" alt="explore image">
                    </div>
                    <div class="single-explore-txt bg-theme-5">
                        <h2><a href="#!">Omestic Reader Overview</a></h2>
                        <p class="explore-rating-price">
                        <span class="explore-rating">4.8</span>
                        <a href="#!"> 7 ratings</a> 
                        <span class="explore-price-box">
                            price:
                            <span class="explore-price">10$</span>
                        </span>
                        <span class="explore-price-genne">
                            novel
                        </span>
                        <a  href="#!">leonard cohen</a>
                        </span>
                        </p>
                    </div>
                    </div>
                </div>
    
                <div class=" col">
                    <div class="single-explore-item">
                    <div class="single-explore-img">
                        <img src="/scr/img/book2.jpg" alt="explore image">
                    </div>
                    <div class="single-explore-txt bg-theme-5">
                        <h2><a href="#!">bungou stray dogs: BEAST</a></h2>
                        <p class="explore-rating-price">
                        <span class="explore-rating">4.8</span>
                        <a href="#!"> 7 ratings</a> 
                        <span class="explore-price-box">
                            price:
                            <span class="explore-price">10$</span>
                        </span>
                        <span class="explore-price-genne">
                            novel
                        </span>
                        <a  href="#!">asagiri kafka</a>
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
    
            </div>
        </div>
        </section><!--/.explore-->
</div>		