<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/book.css">  

<section class="explore">
  <div class="container">
    <div class="explore-content">

      <div class="product-head">
        <h1>New post</h1>
        <div class="row">
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <a href="shop.html"> Shop Name</a>   <!-- shop name -->
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
                <p>Bungou Stray Dogs is a Japanese comic series written by Kafka Asagiri and by Sango Harukawa illustrated, published in Young Ace magazine since 2012.</p>
              </div>
              <div class="action-buttons">
                <button class="accept-btn">Accept</button>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <a href="shop.html"> Shop Name</a>   <!-- shop name -->
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
                <p>Bungou Stray Dogs is a Japanese comic series written by Kafka Asagiri and by Sango Harukawa illustrated, published in Young Ace magazine since 2012.</p>
              </div>
              <div class="action-buttons">
                <button class="accept-btn">Accept</button>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <a href="shop.html"> Shop Name</a>   <!-- shop name -->
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
                <p>Bungou Stray Dogs is a Japanese comic series written by Kafka Asagiri and by Sango Harukawa illustrated, published in Young Ace magazine since 2012.</p>
              </div>
              <div class="action-buttons">
                <button class="accept-btn">Accept</button>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <a href="shop.html"> Shop Name</a>   <!-- shop name -->
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
                <p>Bungou Stray Dogs is a Japanese comic series written by Kafka Asagiri and by Sango Harukawa illustrated, published in Young Ace magazine since 2012.</p>
              </div>
              <div class="action-buttons">
                <button class="accept-btn">Accept</button>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <a href="shop.html"> Shop Name</a>   <!-- shop name -->
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
                <p>Bungou Stray Dogs is a Japanese comic series written by Kafka Asagiri and by Sango Harukawa illustrated, published in Young Ace magazine since 2012.</p>
              </div>
              <div class="action-buttons">
                <button class="accept-btn">Accept</button>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>    
</section><!--/.explore-->
