<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/book.css">  

<section class="explore">
  <div class="container">
    <div class="explore-content">

      <div class="product-head">
        <h1>Reported books</h1>
        <div class="row">
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/explore/e1.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">you want it darker</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
                <div class="action-buttons">
                  <button class="accept-btn">Ban</button>
                  <button class="remove-btn">Remove</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      {{!-- </div>
    </div> --}}
  </div>
</section><!--/.explore-->
