
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/book.css">  

<section class="explore">
  <div class="container">
    <div class="explore-content">

      <div class="product-head">
        <h1>Reported account</h1>
        <div class="row">
          {{#each reportlists}}
          <div class=" col">
            <div class="single-explore-item">
                  <div class="post-person">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="post-person-img">
                          <a href="#">
                            <img src={{ReportedUser.imagePath}} alt="post person">
                          </a>
                        </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="text_report">
                        <p>
                          Username: {{ReportedUser.username}}.
                        </p>
                        <p>
                          Reasons: {{content}}.
                        </p>
                        <p>
                          Reported by User: {{User.username}}.
                        </p>
                        </div>
                    
                    </div>
                  </div>
                  <div class="action-buttons">
                          <button class="accept-btn">Ban</button>
                          <button class="remove-btn">Remove</button>
                      </div>
                </p>
              </div>
            </div>
            <div class="space2"></div>
          </div>
          {{/each}}
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
    </div>
  </div>   
</section><!--/.explore-->
<!-- end: Payment -->