  <!--Content-->
  <section class="explore">
    <div class="container">
      <div class="explore-content">
        
        <div class="space"></div>
        <div class="product-head">
          <h1>New books</h1>
          <div class="row">
            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = "productpage.html"><img src="/img/explore/e1.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="productpage.html">you want it darker</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">leonard cohen</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e2.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Omestic Reader Overview</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">leonard cohen</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">bungou stray dogs: BEAST</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">asagiri kafka</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/blog/b1.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Howl's moving castle</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Diana Wynne Jones</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/blog/b2.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">The secret world of Arrietty</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Diana Wynne Jones</a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        <div class="product-head">
          <h1>Trending books</h1>
          <div class="row">
            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e3.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">And then there were none</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Agatha christie</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e4.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Space cat</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Ruthven Todd</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e5.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">The soul of an octopus</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Sy Montgomery</a>
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e6.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Written in bone</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Sue Black</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = "productpage.html"><img src="/img/explore/e1.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="productpage.html">you want it darker</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">leonard cohen</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="product-head">
          <h1>All books</h1>
          <div class="row">
            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e3.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">And then there were none</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Agatha christie</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/book2.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Bungou stray dogs: BEAST</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">asagiri kafka</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/blog/b1.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Howl's moving castle</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Diana Wynne Jones</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e2.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Omestic Reader Overview</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">leonard cohen</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  <a href = #!><img src="/img/explore/e4.jpg" alt="explore image"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="#!">Space cat</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-price-box">
                      price:
                      <span class="explore-price">10$</span>
                    </span>
                    <span class="explore-price-genne">
                      novel
                    </span>
                    <a  href="#!">Ruthven Todd</a>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <div class="note d-flex justify-content-end"><a href="allbook_logined.html">More >> </a></div>
      </div>
    </div>
  </section><!--/.explore-->
  <!--explore end -->