<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/header.css">

<div class="container py-4">
  <div class="row g-0 align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="card cascading-right" style="
          background: hsla(0, 0%, 100%, 0.55);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body p-5 shadow-5 text-center">
          <h2 class="fw-bold mb-5">Sign in</h2>
          <form action="/login" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-block mb-4">
              Sign in
            </button>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-3">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" checked />
                  <label class="form-check-label"> Remember me </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
              <p>or sign in with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1 text-light">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1 text-light">
                <i class="fab fa-facebook"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1 text-light">
                <i class="fab fa-instagram"></i>
              </button>
            </div>
            <input type="hidden" name="reqUrl" value="{{reqUrl}}" style="height: 30px; width: 150px; color: white;; background-color: #7F56D9; border-radius: 8px; border-style: none;">
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-5 mb-lg-0">
      <img src="\img\signup2.jpg" class="w-100 rounded-3 shadow-4"
        alt="" width="600" height="700"/>
    </div>
  </div>
</div>
