
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/book.css">

<div id="cover"></div>

<div id="avatar"></div>
<div class="product-head">
<div class="name">
  <h1>Andy Horwitz</h1>
</div>
</div>
<div class="row">
  <div class="box-btn">
  <a href="#" id="follow-button"><i class="fa-solid fa-bell"></i> Follow</a>
  <a href="#" id="follow-button"><i class="fa-solid fa-ban"></i> Report</a>
</div>
</div>
<section class="explore">
  <div class="container">
    <div class="explore-content">

      <div class="product-head">
        <h1>New books</h1>
        <div class="row">
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src="/img/explore/e1.jpg" alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">you want it darker</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
            <div class="single-explore-img">
              <img src="/img/explore/e1.jpg" alt="explore image">
            </div>
            <div class="single-explore-txt bg-theme-5">
              <h2><a href="#!">you want it darker</a></h2>
              <p class="explore-rating-price">
              <span class="explore-price-box">
                price:
                <span class="explore-price">10$</span>
              </span>
              <span class="explore-price-genne">
                novel
              </span>
              <a  href="#!">leonard cohen</a>
              </span>
              </p>
            </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
            <div class="single-explore-img">
              <img src="/img/explore/e1.jpg" alt="explore image">
            </div>
            <div class="single-explore-txt bg-theme-5">
              <h2><a href="#!">you want it darker</a></h2>
              <p class="explore-rating-price">
              <span class="explore-price-box">
                price:
                <span class="explore-price">10$</span>
              </span>
              <span class="explore-price-genne">
                novel
              </span>
              <a  href="#!">leonard cohen</a>
              </span>
              </p>
            </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/explore/e2.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Omestic Reader Overview</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/book2.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="note d-flex justify-content-end"><a href="allbook.html">More >> </a></div>
      </div>
      
      <div class="product-head">
        <h1>Best seller</h1>
        <div class="row">
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/explore/e1.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">you want it darker</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
            <div class="single-explore-img">
              <img src="/img/explore/e1.jpg" alt="explore image">
            </div>
            <div class="single-explore-txt bg-theme-5">
              <h2><a href="#!">you want it darker</a></h2>
              <p class="explore-rating-price">
              <span class="explore-price-box">
                price:
                <span class="explore-price">10$</span>
              </span>
              <span class="explore-price-genne">
                novel
              </span>
              <a  href="#!">leonard cohen</a>
              </span>
              </p>
            </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
            <div class="single-explore-img">
              <img src="/img/explore/e1.jpg" alt="explore image">
            </div>
            <div class="single-explore-txt bg-theme-5">
              <h2><a href="#!">you want it darker</a></h2>
              <p class="explore-rating-price">
              <span class="explore-price-box">
                price:
                <span class="explore-price">10$</span>
              </span>
              <span class="explore-price-genne">
                novel
              </span>
              <a  href="#!">leonard cohen</a>
              </span>
              </p>
            </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/explore/e2.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Omestic Reader Overview</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/book2.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="note d-flex justify-content-end"><a href="allbook.html">More >> </a></div>
      </div>

      <div class="product-head">
        <h1>All books</h1>
        <div class="row">
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/explore/e1.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">you want it darker</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
            <div class="single-explore-img">
              <img src="/img/explore/e1.jpg" alt="explore image">
            </div>
            <div class="single-explore-txt bg-theme-5">
              <h2><a href="#!">you want it darker</a></h2>
              <p class="explore-rating-price">
              <span class="explore-price-box">
                price:
                <span class="explore-price">10$</span>
              </span>
              <span class="explore-price-genne">
                novel
              </span>
              <a  href="#!">leonard cohen</a>
              </span>
              </p>
            </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/explore/e2.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">Omestic Reader Overview</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">leonard cohen</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
            <div class="single-explore-img">
              <img src="/img/explore/e1.jpg" alt="explore image">
            </div>
            <div class="single-explore-txt bg-theme-5">
              <h2><a href="#!">you want it darker</a></h2>
              <p class="explore-rating-price">
              <span class="explore-price-box">
                price:
                <span class="explore-price">10$</span>
              </span>
              <span class="explore-price-genne">
                novel
              </span>
              <a  href="#!">leonard cohen</a>
              </span>
              </p>
            </div>
            </div>
          </div>
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="/img/book2.jpg" alt="explore image">
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">bungou stray dogs: BEAST</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">10$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="#!">asagiri kafka</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note d-flex justify-content-end"><a href="allbook.html">More >> </a></div>
    </div>
  </div>
</section><!--/.explore-->
<!--explore end -->
