* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body {
    line-height: 1.5;
    height: 100vh;
}

.card-wrapper{
    margin-top: 150px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
}


.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #3a3b3d;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}

.new-price span{
    color: #000000;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    /* background: url(/scr/img/explore/e4.jpg) left center no-repeat; */
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #000000;
}
.purchase-info .btn{
    background: #434546;
}
.purchase-info .btn:last-of-type{
    background: #434546;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
content
.container {
    padding: 2rem;
}
  
.new-products ul, .trending-products ul, .all-products ul{
    display: inline-block;
}

.product-head {
    margin-top: 40px;
    font-weight: 500;
    text-align: center;
    color: white;
}

.main-product {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    float: left;
    width: 16%;
}

.main-product img {
    width: 100%;
    border-radius: 0px
}

.content-product-h3, .money {
    overflow: hidden;
    color: white;
    font-size: 70%;
    text-align: center;
    line-height: 15px;
    margin: 0 0;
    display: flex;
    justify-content: center;
}

.content-product-h3 {
    margin-top: 15px;
}

.money {
    margin-top: 5px;
    font-weight: 700;
}
/*-------------------------------------
        4.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    top: 70px;
    background:url(/scr/img/welcome-hero/banner.jpg)no-repeat;
    background-position:center;
    visibility:hidden;
    background-size:700px;
    text-align: center;
    height:700px;
    z-index: 1;
}
.welcome-hero:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(65,73,89,.65);
    z-index: -1;
}
.welcome-hero-txt { padding-top: 155px;}

.welcome-hero-txt h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}
.welcome-hero-txt p {
    font-size: 18px;
    color: #fcfcfc;
    margin-top: 25px;
}

.welcome-hero-btn {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    font-size:  14px;
    color:  #fff;
    width:  170px;
    height:  70px;
    background:  #363333;
    text-transform:  capitalize;
    margin-left:  30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
.welcome-hero-btn:hover{background: #363333;}

.welcome-hero-btn svg {
    width:  14px;
    height:  auto;
    margin-left:  12px;
}



#cover {
    width: 100%;
    height: 200px;
    background: url('/scr/img/welcome-hero/banner.jpg') no-repeat center center;
    background-size: cover;
  }
  
  #avatar {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: url('/scr/img/blog/b2.jpg') no-repeat center center;
    background-size: cover;
  }
.box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
  #follow-button{
    /* margin: auto; */
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #424445;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
  }
  /* List*/
  
  .post-list {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .post-item {
    top: 50px;
    border: 1px solid #f5eded;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ddd;
  }
  
  .post-item h2 {
    color: #333;
  }
  
  .post-date {
    color: #777;
    margin-bottom: 10px;
  }

/*testimonial-description*/
.single-testimonial-box{
    width: 404px;
    background:#fff;
}
/* testimonial-info */
.testimonial-info {
    display: flex;
    align-items: center;
    text-transform:capitalize;
}
.testimonial-img {
    position: relative;
    top: 11px;
    margin-right: 5px;
    border-radius:50%;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.testimonial-person {
    margin-left: 15px;
    margin-top: 11px;
}
.testimonial-person h2 {
    color: #505866;
    font-size: 18px;
}
.testimonial-person h4 {
    color: #a2a5ab;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.testimonial-person-star i {
    color: #ffda2b;
    margin: 9px 4px 0 0;
}/* testimonial-info */


/* testimonial-comment */
.testimonial-comment {
    margin-top: 18px;
}
.testimonial-comment p{
    color: #8d939e;
    font-size: 14px;
    font-weight: 300;
}/* testimonial-comment */

/*-------------------------------------
        7. post
--------------------------------------*/
.post{
    padding:117px  95px;
    background: #f8fafb;
}
.post-content{margin-top: 78px;}

.single-post-item {
    background: #fff;
    border: 1px solid #edeff1;
    border-radius: 3px;
    margin-bottom: 25px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.single-post-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(162,172,177,.2);
}
.single-post-img-info {
    position: absolute;
    bottom:-20px;
    left: 0;
    width: 100%;
    opacity:0;
    visibility:hidden;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-post-item:hover .single-post-img-info{
    opacity:1;
    visibility:visible;
    bottom:0px
}
.single-post-img-info button{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 83px;
    height: 21px;
    line-height: 21px;
    background: #363333;
    border-radius: 3px;
    color: #fcfcfc;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
}
.single-post-image-icon-box {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right:  10px;
}
.single-post-image-icon-box ul li {
    display:  inline-block;
    width: 30px;
    height:  28px;
    line-height:  28px;
    background: #252d32;
    text-align:  center;
    margin-left:  5px;
    color:  #cbcccd;
}
.single-post-image-icon-box ul li:hover i{color: #267dff;}

.single-post-txt {
    padding: 26px 25px 24px 15px;
}
.single-post-txt.bg-theme-1 .post-rating{background: #70a9ff;}
.single-post-txt.bg-theme-2 .post-rating{background: #00c61c;}
.single-post-txt.bg-theme-3 .post-rating{background: #ffcc5d;}
.single-post-txt.bg-theme-4 .post-rating{background: #bd70ff;}
.single-post-txt.bg-theme-5 .post-rating{background: #ff7a40;}

.post-rating-price,.post-rating-price a {
    font-size: 12px;
    color: #777f85;
    text-transform: capitalize;
    font-weight: 400;
    margin: 15px 0 20px;
}
.post-rating-price a {margin:0;}
.post-rating {
    display: inline-block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    margin-right: 10px;
}
.post-price {color: #f63138;}
.post-price-box {
    display: inline-block;
    padding: 0 10px;
    margin: 0 8px;
    border-left: 1px solid #dde0e4;
    border-right: 1px solid #dde0e4;
}
.post-person {
    left: -20px;
    padding-bottom: 28px;
    border-bottom: 1px solid #e1e5eb;
}
.post-person-img{
    position: relative;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.post-person p {font-size: 12px;}
.post-open-close-part {
    margin-top: 20px;
}
/* .close-btn {
    color: #f63138;
    text-transform: capitalize;
} */
/* .close-btn.open-btn {color: #00c437;}
.post-map-icon{text-align: right;}
.post-map-icon a svg {
    width: 12px;
    height: 14px;
    margin-left: 23px;
    color: #767f86;
}
.post-map-icon a svg:hover{color: #f63138;}
.single-post-txt.bg-theme-2 .post-map-icon a svg:hover{color: #00c437;} */
.single-post-item:hover{box-shadow: 0 10px 20px rgba(21,19,19,.2);}

.action-buttons {
    position: relative;
  }
  
  .accept-btn,
  .remove-btn {
    margin-right: auto;
    margin-left: auto;
    /* right: 0%; */
    background-color: #424445; /* Gray for accept */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    /* margin-right: 5px; */
    cursor: pointer;
  }
  
  .remove-btn {
    margin-right: auto;
    margin-left: auto;
    background-color: #e66e66; /* Red for remove */
  }